# Pandas: grouping

In [55]:
import pandas as pd
import numpy as np

In [56]:
cars = pd.read_csv("vehicles.csv")

In [57]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [58]:
### your code is here
cars['Model'].describe()[1]

3608

group by the data by the Make  using count function

In [59]:
### your code us here
cars.groupby('Make').count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [60]:
### your code us here
cars.groupby('Make')['Model'].count().nlargest()

Make
Chevrolet    3643
Ford         2946
Dodge        2360
GMC          2347
Toyota       1836
Name: Model, dtype: int64

In [61]:
cars.groupby('Make')[['CO2 Emission Grams/Mile']].apply(lambda x: x.mean()/1.60934)

                             CO2 Emission Grams/Mile
Make
AM General                                379.881345
ASC Incorporated                          345.133719
Acura                                     262.583000
Alfa Romeo                                288.287195
American Motors Corporation               314.264744
...                                              ...
Volkswagen                                244.038998
Volvo                                     270.796572
Wallace Environmental                     408.857065
Yugo                                      221.251107
smart                                     153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand

In [62]:
### your code us here
cars.groupby('Make').apply(lambda x: x.mean()/1.60934)

/var/folders/0l/2hs5wy6x0t3c9yvsb112cnpr0000gn/T/ipykernel_93619/2547049868.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cars.groupby('Make').apply(lambda x: x.mean()/1.60934)

Make
AM General  Year                       1233.114196
            Engine Displacement           2.081599
            Cylinders                     3.106864
            Fuel Barrels/Year            14.089422
            City MPG                      9.320591
                                          ...
smart       City MPG                     20.691712
            Highway MPG                  24.419949
            Combined MPG                 22.245144
            CO2 Emission Grams/Mile     153.498052
            Fuel Cost/Year              689.723738
Length: 1144, dtype: float64

#### show the average CO2_Emission_Grams/Km by Brand

In [63]:
cars.groupby('Make')['CO2 Emission Grams/Mile'].agg([lambda x: x.mean()/1.60934]).rename(columns={'<lambda>':'CO2 Emission Grams/Km'})

                             CO2 Emission Grams/Km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [64]:
### your code us here

cars.groupby('Make')['CO2 Emission Grams/Mile'].apply(lambda x: x.mean()/1.60934).sort_values(ascending=False)

Make
Vector                                651.919248
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Bugatti                               542.497235
Laforza Automobile Inc                502.012683
                                         ...
MINI                                  194.935105
Daihatsu                              192.742404
Fiat                                  189.311494
smart                                 153.498052
Fisker                                105.011992
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [65]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [66]:
years = cars['Year'].unique()
years.sort()
years

array([1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017])

In [67]:
#bins = pd.IntervalIndex.from_tuples([(1984,1989),(1990,1999),(2000,2009),(2010,2017)])
#cars['Year_binn'] = pd.cut(cars['Year'], bins)
#cars['Year_binn']

In [68]:
## your code here

bin2 = ["80's","90's","00's","10's"]
cars['Year_binn2'] = pd.qcut(cars['Year'], q=4, labels=bin2)

cars['Year_binn2']

0        80's
1        80's
2        80's
3        80's
4        80's
         ...
35947    10's
35948    10's
35949    10's
35950    10's
35951    10's
Name: Year_binn2, Length: 35952, dtype: category
Categories (4, object): ['80's' < '90's' < '00's' < '10's']

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [69]:
### your code is here
# Fuel Barrels/Year
# 1 barrel = 42 Gallons
# 1 Gallon = 3.78541 Liters
# 1 barrel = 158,987 liters
cars.groupby('Year_binn2')[['City MPG']].apply(lambda x: x.mean()/158,987)

TypeError: <lambda>() takes 1 positional argument but 2 were given

Which brands are more environment friendly?

In [54]:
### your code is here
cars.groupby(['Year_binn2','Brand'])['CO2 Emission Grams/Mile'].agg([lambda x: x.mean()/1.60934]).rename(columns={'<lambda>':'CO2 Emission Grams/Km'})

KeyError: 'Brand'

Does the drivetrain affect fuel consumption?

In [139]:
## Your Code here

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [80]:
## Your Code here

           City_Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
## your code is here

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857